
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Prompt:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Bebas+Neue&family=Prompt:ital,wght@1,200&family=Teko:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
     background-color: rgb(242, 170, 233);
     color: #540440;
 }

 .cabecalho{
    padding: 3% 5% 1% ;
    background-color: #540440;
    font-size: 1.25rem;
    font-family: 'Abel', sans-serif;
}




 .conteudo{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 8px;
 }
 
 .Gatos {
    padding: 1% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
 }
.Titulo {
     font-size:  1.87rem;
    font-family:   'Bebas Neue', sans-serif;
}

.Subtitulo {
    font-size: 1.31rem;
    font-family: 'Abel', sans-serif;
}
.Paragrafo {
    font-size: 1.25rem;
    font-family: 'Abel', sans-serif;
  
}
    .imgum{
        width: 40%;
    }
    



    .desenvolvimento{
        background-color: #540440;
        color:rgb(242, 170, 233);
        padding: 2.5%;
        font-size: 1.43rem;
        font-family: 'Abel', sans-serif;
       text-align: end;
    }